.box{
    position: relative;
    width: 600px;
    height: 400px;
    margin:100px auto 0 auto;
    overflow: hidden;
}

#img_box{
    position: absolute;
    width: 3000px;
    height: 400px;
    z-index: 1;
}
#img_box img{
    float: left;
    width: 600px;
    height: 400px;
    position: relative;
    left: 0px;
}
.icon{
    position: relative;
}
.icon img{
    width: 60px;
    height: 60px;

}
.icon #btn_left{
    position: absolute;
    top: 170px;
    z-index: 2;
}
.icon #btn_right{
    position: absolute;
    top: 170px;
    right: 0px;
    z-index: 2;
}
